[Unit]
Description=Gunicorn daemon for CheckHessab
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/hesab
ExecStart=/usr/bin/python3 -m uvicorn app:app --host 127.0.0.1 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
